<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> 10ef3824a0a8e79862793c8f8a9d9b390df6b975
